body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bg,
.introducao-bg,
.footer-bg,
.vantagens-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

button {
  border: none;
}